script.
  var xhttp = new XMLHttpRequest()
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      list = JSON.parse(this.responseText)
      var station = list.Stops
      for(var i = 0; i < station.length; i++) {
        if(station[i].predict) {
          if(station[i].predict.weather.length > 1) {
            MarkerObj[station[i].StopName].info.setContent(MarkerObj[station[i].StopName].info.getContent() + `</div><div>時間：${station[i].predict.weather[0].Time}</div><div>天氣:${station[i].predict.weather[0].Condition}</div><div>溫度:${station[i].predict.weather[0].Temperature}</div><div>體感溫度:${station[i].predict.weather[0].FeelTemp}</div><div>濕度:${station[i].predict.weather[0].Humidity}</div><div>降雨機率:${station[i].predict.weather[0].RainProb}</div><HR>
            </div><div>時間：${station[i].predict.weather[1].Time}</div><div>天氣:${station[i].predict.weather[1].Condition}</div><div>溫度:${station[i].predict.weather[1].Temperature}</div><div>體感溫度:${station[i].predict.weather[1].FeelTemp}</div><div>濕度:${station[i].predict.weather[1].Humidity}</div><div>降雨機率:${station[i].predict.weather[1].RainProb}</div>`)
          }
          else {
            MarkerObj[station[i].StopName].info.setContent(MarkerObj[station[i].StopName].info.getContent() + `</div><div>時間：${station[i].predict.weather[0].Time}</div><div>天氣:${station[i].predict.weather[0].Condition}</div><div>溫度:${station[i].predict.weather[0].Temperature}</div><div>體感溫度:${station[i].predict.weather[0].FeelTemp}</div><div>濕度:${station[i].predict.weather[0].Humidity}</div><div>降雨機率:${station[i].predict.weather[0].RainProb}</div><HR>`)
          }
        }
      }
      toast()
    }
  }
  function toast() {
    var x = document.getElementById("snackbar")
    x.className = "show";
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
  }
  xhttp.open('POST', '/ajweather', true)
  xhttp.setRequestHeader("Content-type", "application/json")
  City = city
  RouteName = routename
  xhttp.send(JSON.stringify({
    City,
    RouteName
  }))
  