doctype html
html
  head
    title 公車路線
    meta(charset='utf-8')
    link(rel='stylesheet', href='../css/style.css')
    script(src='../static/googleinitMap.js')
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCDXOuy6JUbrfl6qLKNCXagS1ywRVg5hw&callback=initMap")
    script.
      var MarkerObj = {}, infowindow = {}, busPosition=null, bus=null
      var data = !{ JSON.stringify(stoplist) }
      var icon='../static/bus-stop.png'
      var busicon='../static/bus.png'
  body
    div.content
      h1.title #{city} #{routename}
      a(href='/bus' style='margin: 5%') 返回
      button.schButton 發車時間班表
      each item in stoplist
        button.routeButton(id=item.RouteName+' '+item.Direction onclick='getStops(this)')= item.RouteName + (item.Direction ? ' 返' : ' 去')
      div.container
        div.left
          div#loader
        div.right
          div#map
    div.modal#modalWindow
      div.modal-content
        span.close &times;
        h4 發車時間
        p.schContent loading..
    div#snackbar 天氣載入好囉
    script.
      var modal = document.getElementById('modalWindow')
      var span = document.getElementsByClassName('close')[0]
      var schButton = document.getElementsByClassName('schButton')[0]
      
      schButton.onclick = function() {
        modal.style.display = 'block'
      }
      
      span.onclick = function() {
        modal.style.display = 'none'
      }
      
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = 'none'
        }
      }
    script.
      var routeID
      function getStops(element) {
        var buttons = document.getElementsByTagName('button')
        for(var i = 0; i < buttons.length; i++) {
          buttons[i].style.backgroundColor = 'white'
          buttons[i].disabled = true
        }
        document.getElementsByClassName('left')[0].innerHTML = '<div id=\'loader\'></div>'
        var tmp
        var xhttp = new XMLHttpRequest()
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            document.getElementsByClassName('left')[0].innerHTML = this.responseText

            for(var i = 0; i < buttons.length; i++) {
              buttons[i].disabled = false
            }
            
            
            var resScript = this.responseText.split('<\/script>')[0].slice(8)
            var busPosition =resScript.split('\n')[0]
            var StopsName = resScript.split('\n')[2]
            eval(StopsName)
            eval(resScript)
            eval(busPosition)
            
            for(var i in StopsName){
              MarkerObj[StopsName[i]].setVisible(true)
            }
            for(var i in MarkerObj){
              if(StopsName.indexOf(i)===-1)
                MarkerObj[i].setVisible(false)
            }
            for(var i in MarkerObj) {
              MarkerObj[i].setIcon(icon)
            }
            if(tmp){
                for(var i in tmp) {
                if(MarkerObj[tmp[i].StopName] !== undefined)
                  MarkerObj[tmp[i].StopName].setIcon(icon)
              }
            }
            tmp = busPosition
            for(var i in tmp) {
              if(MarkerObj[tmp[i].StopName] !== undefined)
              MarkerObj[tmp[i].StopName].setIcon(busicon)
            }
            document.getElementsByClassName('schContent')[0].innerHTML = ''
            
            var table = document.createElement('table')
            var tbody = document.createElement('tbody')
            element.style.backgroundColor = '#ffb3b3'
            
            if(schedule.TimeTable !== undefined) {
              if(schedule.TimeTable.length) {
                for(var i = 0; i < schedule.TimeTable.length; i++) {
                  if(i%4 === 0) {
                    if(i !== 0) {
                      tbody.appendChild(node)
                    }
                    var node = document.createElement('tr')
                  }
                  nodeContent = document.createElement('td')
                  nodeContent.append(schedule.TimeTable[i].DepartureTime)
                  node.appendChild(nodeContent)
                  
                }
                tbody.appendChild(node)
                table.style = 'border-collapse: collapse; width: 100%'
                table.appendChild(tbody)
                document.getElementsByClassName('schContent')[0].appendChild(table)
              }
              else {
                document.getElementsByClassName('schContent')[0].innerHTML = '今日未營運'
              }
            }
            else if(schedule.Frequencys !== undefined) {
              if(schedule.Frequencys.length) {
                var node = document.createElement('tr')
                
                nodeContent = document.createElement('td')
                nodeContent.append('時間間距')
                node.appendChild(nodeContent)
                
                nodeContent = document.createElement('td')
                nodeContent.append('發車間距')
                node.appendChild(nodeContent)
                
                tbody.appendChild(node)
                
                for(var i = 0; i < schedule.Frequencys.length; i++) {
                  node = document.createElement('tr')
                  nodeContent = document.createElement('td')
                  nodeContent.append(schedule.Frequencys[i].StartTime + ' ~ ' + schedule.Frequencys[i].EndTime)
                  node.appendChild(nodeContent)
                  
                  nodeContent = document.createElement('td')
                  var temp = schedule.Frequencys[i].MinHeadwayMins === schedule.Frequencys[i].MaxHeadwayMins ? schedule.Frequencys[i].MinHeadwayMins : (schedule.Frequencys[i].MinHeadwayMins + ' ~ ' + schedule.Frequencys[i].MaxHeadwayMins)
                  nodeContent.append(temp + ' 分')
                  node.appendChild(nodeContent)
                  
                  tbody.appendChild(node)
                }
                table.style = 'border-collapse: collapse; width: 100%'
                table.appendChild(tbody)
                document.getElementsByClassName('schContent')[0].appendChild(table)
              }
              else {
                document.getElementsByClassName('schContent')[0].innerHTML = '今日未營運'
              }
            }
            else {
              document.getElementsByClassName('schContent')[0].innerHTML = '查無班表'
            }
              
            
          }
        }
        xhttp.open('POST', '/ajroutes', true)
        xhttp.setRequestHeader("Content-type", "application/json")

        City = city
        RouteName = routename
        routeID = element.id
        Direction = element.id.slice(-1)
        xhttp.send(JSON.stringify({
          City,
          RouteName,
          Direction
        }))
      }
    include routeScript.pug
    include ajweather.pug