doctype html
html
  head
    title 站牌
    meta(charset='utf-8')
    link(rel='stylesheet', href='../css/style.css')
  body
    div.content
      h1.title #{city} #{stopname}
      a(href='/bus' style='margin: 5%') 返回
      div.routesContainer
        each item in routelist
          button.routeButton(id=item+' 0' onclick='getStops(this)')= item + ' 去'
          button.routeButton(id=item+' 1' onclick='getStops(this)')= item + ' 返'
        ul#stops
    script.
      function getStops(element) {
        var xhttp = new XMLHttpRequest()
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            var stops = document.getElementById('stops')
            stops.innerHTML = ''
            document.getElementById('stops').innerHTML = this.responseText
          }
        }
        xhttp.open('POST', '/ajroutes', true)
        xhttp.setRequestHeader("Content-type", "application/json")
        
        var City = !{ JSON.stringify(city) }
        RouteName = element.id.slice(0, -2)
        Direction = element.id.slice(-1)
        xhttp.send(JSON.stringify({
          City,
          RouteName,
          Direction
        }))
      }
