doctype html
html
  head
    title 站牌
    meta(charset='utf-8')
    link(rel='stylesheet', href='../css/style.css')
  body
    div.content
      h1.title #{city} #{stopname}
      a(href='/bus' style='margin: 5%') 返回
      each item in routelist
        button.routeButton(id=item+' 0' onclick='getStops(this)')= item + ' 去'
        button.routeButton(id=item+' 1' onclick='getStops(this)')= item + ' 返'
      div.container
        div.left
        div.right
    script.
      var City = !{ JSON.stringify(city) }
      var RouteName
      var Direction
      function getStops(element) {
        var buttons = document.getElementsByTagName('button')
        for(var i = 0; i < buttons.length; i++) {
          buttons[i].style.backgroundColor = 'white'
        }
        document.getElementsByClassName('left')[0].innerHTML = '<div id=\'loader\'></div>'
        
        var xhttp = new XMLHttpRequest()
        xhttp.onreadystatechange = function() {
          if(this.readyState == 4 && this.status == 200) {
            if(this.responseURL.split('/').reverse()[0] === 'ajroutes') {
              document.getElementsByClassName('left')[0].innerHTML = this.responseText
              element.style.backgroundColor = '#ffb3b3'
            }
          }
        }
        RouteName = element.id.slice(0, -2)
        Direction = element.id.slice(-1)
        
        xhttp.open('POST', '/ajroutes', true)
        xhttp.setRequestHeader("Content-type", "application/json")
        
        xhttp.send(JSON.stringify({
          City,
          RouteName,
          Direction
        }))
      }
